<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import YellowButton from '@/Components/YellowButton.vue';
import { defineComponent, ref, onMounted } from 'vue';
import OrderTotals from '@/Components/OrderTotals.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { loadStripe } from '@stripe/stripe-js';
import states from '@/states.js';
import axios from 'axios';

const props = defineProps({
    cardElement: Object,
    cardError: ' ',
    elements: Object,
    stripe: Object,      
    disabled: true,
    loading: false,    
    errors: Object, 
    states: Object,
    cartItems:Object,
    cartTaxRate: Number,
    cartSubtotal: String,
    newTax: Number,
    code: String,
    discount: Number,
    newSubtotal: Number,
    newTotal: Number,
    
});

const form = useForm({
        name:'',
        email:'',
        address:'',
        city:'',
        state:'',
        zip_code:'',
        name_on_card:''
});

onMounted(() => {
    initStripe();
    
    
});

function initStripe(){
    const stripe = Stripe('pk_test_51MSm2aKH2ixoG6kuwSFKvNU4BtAtv9uQh6aF8yJW0GQJqB5kgn6jxO16wK5BsKeMR985faRsJRdBRjGlxFlHtt7u00MVNKBZwo');
    const elements = stripe.elements();
    const cardElement = elements.create('card', {
        hidePostalCode:true
    });                        
    cardElement.mount('#card-element');    
    cardElement.on('change', ({error}) => {
        let displayError = document.getElementById('card-error');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
            }
    });                
}




function processPayment(){
    
    const stripe = Stripe('pk_test_51MSm2aKH2ixoG6kuwSFKvNU4BtAtv9uQh6aF8yJW0GQJqB5kgn6jxO16wK5BsKeMR985faRsJRdBRjGlxFlHtt7u00MVNKBZwo');
    const elements = stripe.elements();
    const cardElement = elements.create('card'); 
    cardElement.mount('#card-element'); 

    const paymentMethod    = stripe.createPaymentMethod('card', {        
                type: 'card',
                card: cardElement,                
                billing_details: { 
                        name: form.name,
                        email: form.email,
                        address: {
                            line1: form.address,
                            city: form.city,
                            state: form.state,
                            postal_code: form.zip_code,
                            name_on_card: form.name_on_card
                        }
                }
        })
        
    form.payment_method_id = paymentMethod.id;    
    form.amount = props.newTotal;
     
    axios.post('http://localhost:8000/checkout', form)
        .then((resp) =>{
            console.log(resp);
        })
        .catch((error)=>{
            console.log(error);
        });
}

</script>
<template>    
    <AppLayout>
        <div class="max-w-7xl mx-auto px-4 py-4 space-y-4 sm:px-6 md:flex md:space-y-0 md:space-x-4 lg:px-8">
            <div class="flex-1">
                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                    <form @submit.prevent="processPayment" id="payment-form">
                        <div class="-mx-3 md:flex mb-6">
                            <div class="px-3 mb-6 w-full md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                                    Name
                                </label>
                                <input type="text" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="name" autofocus required v-model="form.name">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.name">
                                    {{ errors.name[0] }}
                                </span>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="px-3 mb-6 w-full md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="address">
                                    Address
                                </label>
                                <input type="text" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="address" required v-model="form.address">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.address">
                                    {{ errors.address[0] }}
                                </span>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-2">
                            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="city">
                                    City
                                </label>
                                <input type="text" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="city" required v-model="form.city">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.city">
                                    {{ errors.city[0] }}
                                </span>
                            </div>
                            <div class="md:w-1/2 px-3 mb-6">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="state">
                                    State
                                </label>
                                <div class="relative">
                                    <select class="block appearance-none w-full bg-gray-100 text-gray-700 border border-gray-400 py-2 px-4 pr-8 rounded" id="state" required :value="form.state" v-model="form.state">
                                        <option disabled value="">Select  one</option>
                                        <option v-for="(state, index) in states" :key="index" :selected="state === form.state">{{ state }}</option>
                                    </select>
                                </div>
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.state">
                                    {{ errors.state[0] }}
                                </span>
                            </div>
                            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="zip_code">
                                    Zip Code
                                </label>
                                <input type="text" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="zip_code" required v-model="form.zip_code">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.zip_code">
                                    {{ errors.zip_code[0] }}
                                </span>
                            </div>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                            <div class="px-3 mb-6 w-full md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                                    E-mail
                                </label>
                                <input type="email" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="email" required v-model="form.email" :class="{ 'opacity-50 cursor-not-allowed' : disabled }">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.email">
                                    {{ errors.email[0] }}
                                </span>
                            </div>
                        </div>
                        <div class="-mx-3 mb-6">
                            <div class="px-3 mb-6 w-full">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name_on_card">
                                    Name on Card
                                </label>
                                <input type="text" class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-400 rounded py-2 px-4" id="name_on_card" required v-model="form.name_on_card">
                                <span class="flex justify-center text-md text-red-600 mt-2" v-if="errors.name_on_card">
                                    {{ errors.name_on_card[0] }}
                                </span>
                            </div>
                            <div class="px-3 mb-6 w-full md:mb-0">                                
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="card_element">
                                    Credit Card
                                </label>
                                <div id="card-element"></div>
                                <p id="card-error" role="alert">{{ cardError }}</p>                                                               
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <YellowButton id="pay-now" class="text-sm" :class="{ 'opacity-50 cursor-not-allowed': disabled }" :disabled="disabled">
                                <!--<icon name="spinner" class="animate-spin h-5 w-5 fill-current"></icon>-->
                                <span>Pay now</span>
                            </YellowButton>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex-1">
                <OrderTotals                
                :taxRate ="cartTaxRate"
                :subtotal ="cartSubtotal"
                :tax="newTax"
                :code="code"
                :discount="discount"
                :newSubtotal="newSubtotal"
                :total="newTotal"                   
                ></OrderTotals>
            </div>
        </div>
    </AppLayout>     
</template>
<style>
    #card-error {
        color: #ff0000;
        text-align: center;
        font-size: 16px;
        line-height: 17px;
        margin-top: 12px;
    }
    #card-element {
        border-radius : 0.25rem;
        padding: 12px;
        --tw-border-opacity: 1;
        border: 1px solid rgba(156, 163, 175, var(--tw-border-opacity));
        height: 44px;
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
        height: 44px;
    }
</style>



