<script setup>
import { Link, useForm } from '@inertiajs/inertia-vue3';
import PrimaryButton from '@/Components/PrimaryButton.vue';

const props = defineProps({
   count: Number,
   items: Object,   
   actionText: String
});

const emits = defineEmits(["update","later","remove"]);

const form = useForm();

</script>
<template>
    <div class="flex justify-between border-t border-b border-black py-2" v-if="count > 0">
      <div class="w-1/3">Item</div>
      <div class="flex justify-between w-1/2">
         <span class="flex-1 text-center">Quantity</span>
         <span class="flex-1 text-right">Price</span>                        
      </div>
   </div>
   <div>
      <div class="flex justify-between border-b border-black py-2" v-for="(item,index) in items" :key="index">
         <div class="flex space-x-4 w-1/2">
               <Link :href="route('shop.show', item.options.slug)" class="flex flex-1">
                  <img :src="'/storage/images/defaults/'+item.options.image" alt="" class="object-cover">
               </Link>
               <div class="flex flex-1 flex-col justify-between">
                  <Link :href="route('shop.show', item.options.slug)" class="flex flex-col">
                     <span>{{ item.name }}</span>
                     <span>{{ item.options.details }}</span>                               
                  </Link>
                  <div  class="flex flex-col mt-4">
                     <form @submit.prevent="submit">
                           <div class="flex flex-1">
                              <PrimaryButton @click="$emit('remove', item.rowId)" class="ml-4 hover:text-yellow-500" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                 Remove
                              </PrimaryButton>
                           </div>
                     </form>
                     <div class="flex flex-1">
                           <PrimaryButton @click="$emit('later', item.rowId)" class="ml-4 hover:text-yellow-500" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                              {{ actionText }}
                           </PrimaryButton>
                     </div>
                  </div>
               </div>
         </div>                        
         <div class="flex justify-between w-1/2">
               <div class="flex-1 text-center">
                  <select  v-model="item.qty" @change="$emit('update', item.rowId, item.qty)" class="border bg-white rounded outline-none py-0" tabindex="1">
                     <option :value="qty" :selected = "qty === item.qty" v-for="(qty, index) in item.options.totalQty" :key="index">
                           {{ qty }}
                     </option>
                  </select>
               </div>
               <span class="flex-1 text-right">{{ $filters.formatCurrency(item.price) }}</span>
         </div>
      </div>        
   </div>
</template>



