<script setup>
import { useForm } from '@inertiajs/inertia-vue3';
import quotes from '@/quotes';
import { computed } from 'vue';

const props = defineProps({
    quotes: Object
});

const randomQuote = computed(() => {
        return quotes[Math.floor(Math.random()*quotes.length)]
    });

const form = useForm();

</script>
<template>    
    <footer class="text-center text-white bg-gray-700 px-4 py-4">
        <div>
            <p>
                {{ randomQuote }}
            </p>
        </div>
    </footer>
</template>



