<script setup>  
    //import { Link } from '@inertiajs/inertia-vue3'    

    const props = defineProps({
        //
    });    
    
</script>
<template>   
    <div class="flex justify-center my-4 w-full">
        <img :src="'/storage/images/site_images/droids.jpg'" alt="These are not the droids you are looking for!">
    </div>
</template>