<script setup>
import { Link, useForm } from '@inertiajs/inertia-vue3';

const props = defineProps({
    //
});

const form = useForm();

</script>
<template>    
    <header class="text-gray-700 bg-gray-300 shadow">
        <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-2 sm:px-6 lg:px-8">
            <div class="flex items-center leading-tight">
                <Link :href="route('welcome')" class="text-gray-700 transition hover:text-yellow-500">
                    Home
                </Link>
                <slot name="breadcrumbs"></slot>
            </div>
            <div class="w-1/2">
                <slot name="search"></slot>                    
            </div>
        </div>
    </header>
</template>



