<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Link, useForm } from '@inertiajs/inertia-vue3';
import OrderTotals from '@/Components/OrderTotals.vue';
import CartItems from '@/Components/CartItems.vue';


const props = defineProps({
    cartItems: Object,
    cartTaxRate: Number,
    cartSubtotal: String,
    newTax: Number,
    newSubtotal: Number,
    newTotal: Number,
    code: String,
    discount: Number,
    laterItems: Object,
    laterCount: Number 
   
});


const form = useForm({
    cartItems: props.cartItems,
    quantity: 0,    
});

function updateCart(id, quantity){
    form.quantity = quantity;
    form.put(route('cart.update', id));
}

function addToLaterCart(id) {    
    form.post(route('later.store', id));    
}

function moveToCart(id) {    
    form.post(route('later.moveToCart', id));    
}

function removeCart(id) {    
    form.delete(route('cart.destroy', id));    
}

function updateLaterCart(id, quantity){
    form.quantity = quantity;
    form.put(route('later.update', id));
}

function removeLaterCart(id) {    
    form.delete(route('later.destroy', id));    
}

</script>
<template>    
    <AppLayout>
        <div class="max-w-7xl mx-auto px-4 py-4 space-y-4 sm:px-6 md:flex md:space-y-0 md:space-x-4 lg:px-8">            
            <div class="flex-1">
                <div class="flex justify-between">
                    <p class="text-red-600 text-2xl font-semibold" v-if="$page.props.cartCount <= 0">
                        Your cart is empty!
                    </p>
                    <p class="text-red-600 text-2xl font-semibold" v-else>
                        {{ $page.props.cartCount }} item(s) in cart!
                    </p>
                    <Link :href="route('shop.index')" class="underline hover:text-red-700 transition">Continue Shopping</Link>
                </div>
                <CartItems :count="$page.props.cartCount" :items="cartItems" 
                @later="addToLaterCart" @remove="removeCart" @update="updateCart" :actionText="`Save for later`">
                    <slot></slot>
                </CartItems>
                <div class="flex justify-between">
                    <p class="text-red-600 text-2xl font-semibold" v-if="$page.props.laterCount <= 0">
                        No item(s) saved for later!
                    </p>
                    <p class="text-red-600 text-2xl font-semibold" v-else>
                        {{ $page.props.laterCount }} item(s) saved for later!
                    </p>                   
                </div>
                <CartItems :count="$page.props.laterCount" :items="laterItems" 
                @later="moveToCart" @remove="removeLaterCart" @update="updateLaterCart" :actionText="`Move to cart`">
                    <slot></slot>
                </CartItems>
            </div>
            <div class="flex-1">
                <OrderTotals 
                    :taxRate="cartTaxRate" 
                    :subtotal="cartSubtotal" 
                    :tax="newTax" 
                    :total="newTotal"
                    :newSubtotal ="newSubtotal"
                    :code ="code"
                    :discount="discount">
                </OrderTotals>
            </div>
        </div>
    </AppLayout>     
</template>



